.image-grid-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.image-grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15px;
    max-width: 1400px;
    margin: 0 auto;
    place-items: center;
}