.image-modal-content {
    border-radius: 12px;
    border: 2px solid #bcdbf2;
    border-left: none;
    background: #efe5e5;
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    animation: modalSlideIn 0.3s ease-out;
}

@keyframes modalSlideIn {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.image-modal-content .close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #333;
}

.image-modal-body {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.image-section {
    border-radius: 10px;
    border-right: 1px solid #bebec3;
    flex: 2;
    display: flex;
    flex-direction: column;
    background: rgba(208, 232, 245, 0.9);
    max-height: 100%;

    /*min-height: 0;*/
}

.modal-image {
    flex: 1;
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    padding: 0;
}

.meta-section {
    padding: 1rem 2rem;
    border-top: 1px solid #e2e8f0;
    margin-top: auto;
    background: rgba(250, 252, 252, 0.9);
    border-radius: 10px;
}

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
    min-width: 400px;
    overflow-y: auto;
    background-color: rgba(240, 240, 249, 0.94);

}

.info-section::-webkit-scrollbar {
    width: 6px;
}

.info-section::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.info-section::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.info-section::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.description-section {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    flex-shrink: 0;
}

.description-section h3 {
    font-size: 1.3rem;
    margin-bottom: 0;
    color: #1e293b;
    text-align: left;
    padding: 0.5rem 0;
}

.info-section-description {
    overflow-wrap: break-word;
    color: #475569;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}