.image-box {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #bac2cc;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    height: fit-content;
    font-family: "Poppins", sans-serif;

}

.image-box:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-info {
    padding: 1rem 1rem 0;
}

.image-description {
    color: #475569;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image-box-fade-out {
    opacity: 0;
    transform: translateY(20px);
}

.image-box-fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.image-wrapper:hover img {
    transform: scale(1.05);
}
