.user-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #475569;
}

.user-info span {
    font-weight: 800;
    font-size: 1.4rem;
    font-style: italic;
}

.logout-btn {
    background: transparent;
    color: #475569;
    padding: 0.5rem 0.75rem;
    border: 1px solid #e2e8f0;
    font-size: 1.2rem;
}

.logout-btn:hover {
    background: #fef2f2;
    color: #ef4444;
    border-color: #fecaca;
}